<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.mall.dao.XgwhAgreeMapper">
    <resultMap id="BaseResultMap" type="com.xg.mall.po.XgwhAgree">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="add_time" jdbcType="INTEGER" property="addTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xg.mall.po.XgwhAgree">
        <result column="contents" jdbcType="LONGVARCHAR" property="contents"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, add_time
    </sql>
    <sql id="Blob_Column_List">
        contents
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from xgwh_agree
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectMemberAgreement" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from xgwh_agree
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from xgwh_agree
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xg.mall.po.XgwhAgree">
        insert into xgwh_agree (id, title, add_time,
        contents)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{addTime,jdbcType=INTEGER},
        #{contents,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.xg.mall.po.XgwhAgree">
        insert into xgwh_agree
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="contents != null">
                contents,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=INTEGER},
            </if>
            <if test="contents != null">
                #{contents,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xg.mall.po.XgwhAgree">
        update xgwh_agree
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=INTEGER},
            </if>
            <if test="contents != null">
                contents = #{contents,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xg.mall.po.XgwhAgree">
        update xgwh_agree
        set title = #{title,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=INTEGER},
        contents = #{contents,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xg.mall.po.XgwhAgree">
        update xgwh_agree
        set title = #{title,jdbcType=VARCHAR},
        add_time = #{addTime,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>